body {
    background-color: var(--backdrop);
}

html, body {
    width:100%;
    height:100%;
}

* {
	margin: 0; padding: 0; box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


div.navbar {
    margin-top:10px;
    display:flex;
    align-items: center;
    justify-content:space-around;
}

div.navbar > div {
    display:flex;
    align-items: center;
    gap:20px;
}

h1 {
    font-size:28px;
    color:var(--text-emphasis);
}

nav {
    font-size:17px;
    display: flex;
    gap:50px;
}

.logo {
    width:50px;
    height:50px;
}

